.hero {
    grid-area: hero;
    background: url("/static/img/backdrop.webp") repeat fixed;
    background-size: 32rem;
    min-height: 40vh;
    max-height: min-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo tagline" "logo cta";
    justify-items: center;
}

.hero .logo, .hero .tagline, .hero .cta {
    max-width: calc(var(--content-max-width) / 1.5);
}

.hero .logo {
    grid-area: logo;
    justify-self: end;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .logo img {
    width: 50%;
    height: auto;
    padding: 1rem;
}

.hero .logo h1 {
    margin: 0;
    padding: 0.5em;
    font-size: 3.25rem;
    font-weight: bold;
    text-align: center;
    background: #00000094;
    border-radius: 3px;
}

.hero .tagline {
    grid-area: tagline;
    align-self: end;
    background: #00000094;
    border-radius: 3px;
    padding: 2rem;
    justify-self: start;
}

.hero .tagline span {
    font-size: 1.5rem;
}

.hero .cta {
    grid-area: cta;
    justify-self: start;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero .cta a {
    display: block;
    background: var(--blurple);
    border-radius: 3px;
    color: var(--foreground-highlight);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    padding: 1rem;
}

.hero .cta a:hover {
    background: var(--blurple-tint);
}

@media screen and (max-width: 800px) {
    .hero {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "logo" "tagline" "cta";
    }

    .hero .logo, .hero .tagline, .hero .cta {
        justify-self: center;
    }
}
