// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// Override site header and footer color defaults
.site-header {
    background-color: $header-background-color;
}

.site-footer {
    background-color: $header-background-color;
}

// Modify link color
a, a:visited {
    color: #8ab4f8;
}
