// Overrides for minima default styles and for styling new elements

// Override site header and footer color defaults
.site-header {
    background-color: $header-background-color;
    min-height: 54px;
}

.site-footer {
    background-color: $header-background-color;
}

// Modify link color
a, a:visited {
    color: $link-color;
}

// Custom trigger for discord join link
.discord-trigger {
    background-color: $discord-invite-bg-color;

}

// Cool hover colorchange
.discord-trigger:hover {
    background-color: lighten($discord-invite-bg-color, 5%);
}

// Custom page-link
.page-link.discord-page-link {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
}

// Remove underline - looks weird
a.discord-page-link:hover {
    text-decoration: none;
}

@media screen and (min-width: $on-medium) { 
    // Override trigger defaults
    .site-nav input ~ .trigger {
        display: inline-block;
    }

    // Override page-link defaults
    .page-link {
        &:last-child {
            margin-right: 10px;
        }
    }

    // Make custom trigger look more sensible in dropdown
    .page-link.discord-page-link {
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 0px;
    }
}
.site-icon {
    height: $base-line-height * $base-font-size * 2;
    width: $base-line-height * $base-font-size * 2;
    margin-top: $base-line-height * $base-font-size * 0.125;
    padding-right: 0px;
    margin-right: 10px;
    border-radius: 50%;
}
