// Redefine site colors

$text-color: whitesmoke;
$site-title-color: whitesmoke;

$header-background-color: #2d2d2d;
$background-color: #4f504d;

$border-color-01: #1d1d1d;
$border-color-02: #1d1d1d;
$border-color-03: #1d1d1d;