// Redefine site colors

$text-color: whitesmoke;
$site-title-color: whitesmoke;
$link-color: #8ab4f8;

$header-background-color: #2d2d2d;
$background-color: #4f504d;
$discord-invite-bg-color: #7c48fe;

$border-color-01: #1d1d1d;
$border-color-02: #1d1d1d;
$border-color-03: #1d1d1d;